/*
 * bread line style
*/
.bread-line {
    margin: 20px 0;
    padding: 10px 0 10px 15px;
    list-style: none;
    background-color: #eee;
}

.bread-line li {
    float: left;
    margin: 0 5px;
}

.bread-line li:first {
    margin-left: 0;
}